
<div class="fooap">
   <div class="logo-link"><fa-icon  [icon]="myinstagramIcon"></fa-icon><a href="https://www.instagram.com/r.chettri/" target="_blank">Instagram</a></div>
   <div class="logo-link"><fa-icon [icon]="myfacebookIcon"></fa-icon><a href="https://www.facebook.com/people/Super-Algorithm-Software-Consultant/100087381794234/" target="_blank">Facebook</a></div>
   <div class="logo-link"><fa-icon [icon]="mytwitterIcon"></fa-icon><a href="" target="_blank">Twitter</a></div>
   <div class="onright">
   <div class="abtme">About Me</div>
   <div class="cont">Contact</div>
   <div class="msgus">Message</div>
   </div>
   <div class="cpr">copyright &copy; 2019-2023:Chet Bhandari</div>
</div>
