
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Roboto;
}
.main-container{
    width:96%;
    margin: 0 2%;
    height: 100vh;
    background-color: rgb(63, 66, 69);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:250px;
    width: 360px;
    background-color: antiquewhite;
    gap: 10px;
    margin-top: 100px;
    padding-top:5px;
}
.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
   
}
input[type="button"], button{
    height: 30px;
    width: 69px;
    letter-spacing: 1px;
    cursor: pointer;
}
input[type="text"], select{
    height: 30px;
    width: 89px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding-right:3px;  
}
 select {
    width:49px;
    text-align: center;
}


/*this is screen in between 599 and 700*/
/* Styles for screens with a width of 600px or less */
@media screen and (max-width: 600px) {

    form{
       height:190px;
       width:260px;
    }

    label{
      font-size: 13px;
      font-weight: bold;
    }

    input[type="button"], button{
        height: 20px;
        width: 49px;
    }
    input[type="text"], select{
        height: 20px;
        width: 49px;
        font-size: 14px;
        font-weight: bold;
    }
    
  }