

<div class="main-container">
  <app-header></app-header>
  <div class="container">

    <form autocomplete="off">
      <h3>Salary Calculation.</h3>
      <div class="form-group">
        <label for="workperday">Work Hours/Day</label>
        <input type="number" id="workperday" class="ctx1" name="workperday" [(ngModel)]="workperday" >
        <label>Hrs.</label>
      </div>
      <div class="form-group">
        <label for="workperweek">Work/Week</label>
        <input type="number" id="workperweek" class="ctx2" name="workperweek"  [(ngModel)]="workperweek" >
        <label>Days</label>
      </div>
      <div class="form-group">
        <label for="totalannualpack">Annual Package</label>
        <input type="number" id="totalannualpack" class="ctx3" name="totalannualpack"  [(ngModel)]="totalannualpack">
        <label for="dollarsign">$</label>
        <!--
        <select id="select1" name="select1">
          <option value="usdollar" selected>$</option>
          <option value="euro">&#8364;</option>
          <option value="poundstr">&#163;</option>
          <option value="yen">&#165;</option>
          <option value="yuan">&#x5143;</option>
          <option value="rupees">&#x20B9;</option>
          <option value="rand">R</option>
        </select>
      -->
      </div>
      <div class="form-group">
        <label for="calculateyear">Calcualte For</label>
        <select id="select2" name="select2">
          <option value="yr1" id="yr1">1</option>
          <option value="yr2" id="yr2">2</option>
          <option value="yr3" id="yr3">3</option>
        </select>
        <label>Year/s</label>
      </div>
      <div class="form-group">
        <input type="button" id="ckbtn" name="chck" value="Check" (click)="showresult()"  >
        <input type="button" id="cnbtn" name="canc" value="Cancel" (click)="cancel()" >
        <button type="submit" id="save" disabled >Save</button>
      <img src="assets/images/info2.png" title="Save Active When Login." >
    
      </div>
    </form>
    <div id="res1" [ngStyle]="{ 'display': elementVisible ? 'block' : 'none' }">Hourly Per Rate is: {{result}}</div>
    <div id="res2" [ngStyle]="{ 'display': elementError ? 'block' : 'none' }">All Value Must be greater than Zero.</div>
  </div>

</div>
<app-footer></app-footer>