

<div class="main-container">
  <app-header></app-header>
  <div class="container">

    <form autocomplete="off">
      <h3>Salary Calculation.</h3>
      <div class="form-group">
        <label for="workperday">Work Hours/Day</label>
        <input type="text" id="tx1" class="ctx1" value="" name="workperday" />
        <label>Hrs.</label>
      </div>
      <div class="form-group">
        <label for="workperweek">Work/Week</label>
        <input type="text" id="tx2" class="ctx2" value="" name="workperweek" />
        <label>Days</label>
      </div>
      <div class="form-group">
        <label for="totalannualpack">Annual Package</label>
        <input type="text" id="tx3" class="ctx3" value="" name="totalannualpack" />
        <select id="select1" name="select1">
          <option value="usdollar" selected>$</option>
          <option value="euro">&#8364;</option>
          <option value="poundstr">&#163;</option>
          <option value="yen">&#165;</option>
          <option value="yuan">&#x5143;</option>
          <option value="rupees">&#x20B9;</option>
          <option value="rand">R</option>
        </select>
      </div>
      <div class="form-group">
        <label for="calculateyear">Calcualte For</label>
        <select id="select2" name="select2">
          <option value="yr1" id="yr1">1</option>
          <option value="yr2" id="yr2">2</option>
          <option value="yr3" id="yr3">3</option>
        </select>
        <label>Year/s</label>
      </div>
      <div class="form-group">
        <input type="button" id="ckbtn" name="chck" value="Check" />
        <input type="button" id="cnbtn" name="canc" value="Cancel" />
        <button type="submit">Save</button>
      </div>
    </form>
  </div>

</div>
<app-footer></app-footer>